@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.login-container{
    border: 1px solid  whitesmoke;
    border-radius: 20px;
    padding: 2rem 3rem;
    font-family: 'Comfortaa', cursive;
    backdrop-filter: blur(30px);
    width: 400px;
}

input:focus{
    outline: none;
}
.login-button{
    padding: .7rem 2rem;
    background-color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: all .3s;
    margin-top: 1rem;
    margin-left: 4.5rem;
    width: 50%;
}
.login-button:hover {
     background-color: black;
     color: white;
     transform: scale(.9);
     border: white 1px solid;
     transition: all .3s;
 }

 .login-text{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 28px;
    margin-left: 6rem;
 }

.login-input{
    padding:1rem 1.5rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 1rem;
    border-radius: 40px;
}

 login-input::placeholder{
    color: white;
 }

.login-input:focus{
    color: white;
    background-color: transparent;
}
.login-icon{
    color: whitesmoke;
    font-size: 22px;
    position: absolute;
    right: 64px;
    top: 8.3rem;
}
.login-icon2{
    color: whitesmoke;
        font-size: 22px;
        font-weight: 100;
        position: absolute;
        right: 64px;
        top: 14rem;
}

/* Register-CSS */


.register-container{
    background-color: transparent;
    border-radius: 20px;
    font-family: 'Comfortaa',cursive;;
    padding: 2rem 4rem;
    backdrop-filter: blur(20px);
    border: 1px solid whitesmoke;
    width: 600px;
}

.register-text{
    font-size: 25.3px;
    letter-spacing: 2px;
}

.div1 input{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px white solid;
}
.div1 input::placeholder{
    color: white;
}
.div1 input:focus{
    background-color: transparent;
}
.reg-button {
    padding: .7rem 2rem;
    background-color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: all .3s;
    margin-top: 1rem;
    margin-left: 7.5rem;
    width: 50%;
}

.reg-button:hover {
    background-color: black;
    color: white;
    transform: scale(.9);
    border: white 1px solid;
    transition: all .3s;
}