/* search.css */
.search {
    display: flex;
    margin: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.searchicon {
    font-size: 1.5rem;
    background-color: gray;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 0.3rem;
    margin-right: 0.5rem;
    transition: 0.4s all;
    cursor: pointer;
}

.searchicon:hover {
    transform: scale(0.9);
    color: black;
}

.dropdown {
    margin: 1rem;
    background-color: rgb(237, 234, 234);
    border-radius: 16px;
}

.dropdown-btn {
    display: flex;
    width: 100%;
    color: black;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    cursor: pointer;
    background-color: white;
    border: none;
    text-align: left;
}

.days {
    font-size: 1rem;
}

.daysp {
    font-size: 0.875rem;
    color: black;
}

.dropdown-menu {
    padding: 0.5rem;
    width: 30%;
    z-index: 10;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    background-color: rgb(184, 184, 249);
}

.dropdown--li {
    font-weight: 200;
    margin: 0.3rem;
    color: black;
    text-align: center;
    cursor: pointer;
    list-style: none;
    transition: 0.3s all;
}

.dropdown--li:hover {
    transform: scale(1.3);
    color: black;
}

.container {
    display: flex;
    margin: 0 1rem 1rem 0.5rem;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    width: 100%;
}

.no-line {
    text-decoration: none;
    color: black;
    width: 50%;
}